#crazy intense RFI mitigation for UWL fold-mode...
surgical_default_params = 'template=None,chan_breakpoints=None,chan_numpieces=1,chan_order=1,chanthresh=5,subint_breakpoints=None,subint_numpieces=8;16,subint_order=2;1,subintthresh=5,plot=None'
rcvrstd_default_params = 'badchans=None,badfreqs=962:1150;1857:1863;1725:1735;1080:1090;1022:1026;1918:1922;3070:3074,badsubints=None,response=704:4032,trimbw=0,trimfrac=0,trimnum=0'
